board-to-fen==0.1.1
CairoSVG==2.7.1
chess==1.10.0
favicon==0.7.0
imutils==0.5.4
keras==2.11.0
numpy==1.22.4
opencv-python-headless==4.7.0.72
pandas==1.4.2
pipreqs==0.4.13
plotly==5.6.0
protobuf==3.20.1
pytesseract==0.3.10
pytest==7.1.1
stockfish==3.28.0
streamlit==1.23.1
streamlit-extras==0.3.4
streamlit-webrtc==0.47.1
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
ultralytics==8.0.196
